.text {
	text-decoration: none;
	font-family: Marker Felt, fantasy;
	color: red;
	font-size: 90px;
	text-align: center;
	top: 300px;
	position: relative;
	display: inline-block;
	margin-left: 40%;
	opacity: 1;
	animation: blinker .2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body {
	background-color: #343434;
}

.hold {
	display: block;
  	position: relative;
  	margin-left: auto;
  	margin-right: auto;
  	top: 400px;
}